body {
    margin: 0;
}

.posterRsz, .posterRszmore {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}

.posterRsz img {
    width: 300px;
    height: 425px;
}

.posterRszmore img {
    height: 425px;
    width: auto;
}

.menubar {
    background-color: #f12c2c;
    font-family: Helvetica;
    font-size: 25px;
    margin: 0;
    display: block;
    border: 0;
    text-align: center;
    padding: 20px 20px;
}

.menubar a {
    text-decoration: none;
    color: #fff;
    padding: 20px 20px;
}

.menubar a:hover {
    background-color: #ff7373;
}