body {
    margin: 0;
    font-family: Helvetica;
    overflow-x: hidden;

}

body::after {
    content: "";
    background: url('../img/yourlifebeginsnow/arrows.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 75vw 50vh;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }

  #centerVid {
    display: block;
    margin: 0 auto;
  }

.container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}

.titleApp {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.centerStart {
    /* background-color: #f12c2c; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 30px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #000;
    content:"";
}

.centerStart p {
    color: #000;
    display: flex;
    justify-content: center;
}

.centerStart:hover {
    background-color: #ffb6b6;
}

/* .containerLine {
    overflow: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
} */

.mouseCont{
    display: flex;
    justify-content: center;
}

.goDown {
    margin-top: 380px;
}

.containerLine:after {
    content:"";
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dotted #ff0000;
    transform: translate(-50%);
}

.instrCont {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.instrtitle{
    display: flex;
    justify-content: center;
}

.keyCode {
    border-radius: 10px;
    border: 1px solid #000;
    padding: 5px 25px;
    float: left;
    margin: 2px;
}

.keyCode p {
    display: flex;
    justify-content: center;
}

.keyInst, .mouseInst {
    width: 300px;
    margin: 0 20px;
}

.landit {
    height: 85vh;
}

/* .landit::after {
    content:"";
    position: absolute;
    z-index: 1;
    top: 60%;
    bottom: 5%;
    left: 50%;
    border-left: 2px dotted #000000;
    transform: translate(-50%);
} */

#left{
    left: 2.5%;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 45%;
}

.menubar {
    background-color: #f12c2c;
    font-family: Helvetica;
    font-size: 25px;
    margin: 0;
    display: block;
    border: 0;
    text-align: center;
    padding: 20px 20px;
    z-index: -2;
}

.menubar2 {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 25%, rgba(255,0,0,1) 100%);
    font-family: Helvetica;
    font-size: 25px;
    margin: 0;
    display: block;
    border: 0;
    text-align: center;
    padding: 20px 20px;
    z-index: -2;
}

.menubar2 h1 {
    margin-top: 70px;
}

.menubar a {
    text-decoration: none;
    color: #fff;
    padding: 20px 20px;
}

.menubar a:hover {
    background-color: #ff7373;
}

.mouseObj {
    margin: 0 auto;
    width: 10px;
    padding: 30px 12px;
    border-radius: 25px;
    border: 1px solid #000;
}

.posterRsz, .posterRszmore {
    display: flex;
    justify-content: center;
    width: 50%;
}

.posterRsz img {
    width: 300px;
    height: 425px;
}

.posterRszmore img {
    min-height: 200px;
    max-width: 80%;
}

#right{
    right: 2.5%;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 45%;
}
.sect {
    height: 100vh;
    display: flex;
    align-items: center;
}

.tonext {
    color: white;
}

.webgl-content {
    display: none;
}

/* GSAP PART LEX */

main {
    height: 50rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    /* background-color: grey; */
    /* overflow: hidden;
    border: 2px solid black; */
}

#section1 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 22rem;
    height: 500px;
    /* border: 2px dotted blue; */
}

/* BOXHOLDERS VOOR VERSCHILLENDE VERSIE */
.boxholder {
    position: absolute;
    width: 20rem;
    z-index: 3;
}

.boxholder2 {
    position: absolute;
    width: 20rem;
    z-index: 2;
}

.boxholder3 {
    position: absolute;
    width: 20rem;
    z-index: 1;
}

/* LOSSE POSTERONDERDELEN */
/* POSTER 1 */

#img1 { /* BACKGROUND */
    width: 20rem;
    height: auto;
    position: absolute;
}

#img2 { /* HUMANS */
    width: 16rem;
    height: auto;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

#img3 { /* NOT */
    width: 8rem;
    height: auto;
    position: absolute;
    top: 7rem;
    left: 6rem;
}

#img4 { /* NEEDED */
    width: 16rem;
    height: auto;
    position: absolute;
    top: 12rem;
    left: 2rem;
}

#img5 { /* LOGO TLA */
    width: 12rem;
    height: auto;
    position: absolute;
    top: 19rem;
    left: 4.25rem;
}

/* POSTER2 */

#img6 { /* BACKGROUND */
    width: 20rem;
    height: auto;
    position: absolute;
}

#img7 { /* YOUR */
    width: 11rem;
    height: auto;
    position: absolute;
    top: 0.5rem;
    left: 5rem;
}

#img8 { /* JOB */
    width: 10rem;
    height: auto;
    position: absolute;
    top: 5rem;
    left: 5rem;
}

#img9 { /* IS */
    width: 4rem;
    height: auto;
    position: absolute;
    top: 11.5rem;
    left: 8.5rem;
}

#img10 { /* DONE */
    width: 12rem;
    height: auto;
    position: absolute;
    top: 16.5rem;
    left: 4.25rem;
}

#img11 { /* LOG TLA */
    width: 6rem;
    height: auto;
    position: absolute;
    top: 23rem;
    left: 7.5rem;
}

/* POSTER3 */

#img12 { /* BACKGROUND */
    width: 20rem;
    height: auto;
    position: absolute;
}

#img13 { /* LOGO TLA */
    width: 5rem;
    height: auto;
    position: absolute;
    top: 0.5rem;
    left: 8rem;
}

#img14 { /* YOUR LIFE BEGINS */
    width: 16rem;
    height: auto;
    position: absolute;
    top: 3.5rem;
    left: 2rem;
}

#img15 { /* NOW */
    width: 6.5rem;
    height: auto;
    position: absolute;
    top: 5.6rem;
    left: 7.2rem;
}

#img16 { /* POINTS */
    width: 20.3rem;
    height: auto;
    position: absolute;
    top: 9.3rem;
    left: -0.1rem;
}

#img17 { /* ARROWS */
    width: 16rem;
    height: auto;
    position: absolute;
    top: 13.33rem;
    left: 2.22rem;
}

#img18 { /* BRAIN AI */
    width: 5.5rem;
    height: auto;
    position: absolute;
    top: 22.5rem;
    left: 7.3rem;
}