body {
    height: 55rem;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    font-family: sans-serif;
    margin: 0;
    background-color: grey;
}

section {
    position: relative;
}

#movingCube{
    width: 200px;
    height: 200px;
    background: blue;
  }

main {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    /* width: 50rem; */
    margin: 0;
    /* border: 2px dotted blue; */
}

/* #box1 {
    box-sizing: border-box;
    background-color: red;
} */

/* #box2 {
    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
    background-color: green;
}

#box3 {
    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
    background-color: blue;
} */

img {
    width: 15rem;
    height: 20rem;
    margin: 2rem;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}